body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f4f4f4;
  color: #333;
}

.App {
  text-align: center;
  max-width: 800px;
  width: 100%;
  padding: 50px;
  border: 2px solid #1a1a1a;
  border-radius: 10px;
  background-color: #fff;
  box-sizing: border-box;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 50px auto;
  color: #333;
  position: relative;
}

.App-header {
  margin-bottom: 20px;
  position: relative;
}

.header-buttons {
  display: flex;
  justify-content: space-between;
  width: 100%;
  position: absolute;
  top: 0; 
  left: 0;
  right: 0;
  padding: 10px 20px;
  box-sizing: border-box;
}

.profile-button {
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
}

.profile-icon {
  width: 40px; 
  height: 40px; 
  border-radius: 50%; 
  border: 2px solid #007bff; 
  padding: 5px; 
  transition: transform 0.3s ease; 
  margin-top: -999px;
  margin-bottom: 20px;
  margin-left: -40px;
}

.profile-icon:hover {
  transform: scale(1.1); 
}

.logout-button {
  background: none;
  border: none;
  color: #007bff;
  cursor: pointer;
  font-size: 14px;
  text-decoration: underline;
  height: 10px; 
  line-height: 40px; 
  margin-top: -70px;
  margin-bottom: 20px;
  margin-right: -40px;
}

.logout-button:hover {
  color: #0056b3;
}

.content {
  position: relative;
  padding-top: 60px; 
}

.centered-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.detail {
  margin: 10px 0;
  font-size: 1.2em;
}

.content-placeholder {
  margin-top: 20px;
  padding: 15px;
  background-color: #f9f9f9;
  color: #333;
  font-size: 18px;
  min-height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.record-button {
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
  transition: transform 0.3s ease;
}

.record-button:hover {
  transform: scale(1.1);
}

.record-button-image {
  width: 40px; 
  height: 40px; 
  border-radius: 50%;
  border: 2px solid #007bff;
  padding: 5px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.record-button-image:hover {
  transform: scale(1.2);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.button {
  background-color: #007bff;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 10px;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #0056b3;
}

h1 {
  font-size: 3rem;
  letter-spacing: 1px;
  margin-bottom: 10px;
  color: #007bff;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-group {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

form label {
  margin-right: 10px;
  width: 150px; 
  text-align: right;
}

form input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  width: 200px; 
}

form button {
  background-color: #007bff;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 10px;
  transition: background-color 0.3s ease;
}

form button:hover {
  background-color: #0056b3;
}

.link {
  color: #007bff;
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}

.link-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 20px;
}

.profile-details {
  text-align: left;
  margin-bottom: 20px;
}

.profile-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}